<%= form_with(model: @user, local: true, url: choose_users_new_or_edit) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this<%= @user.name %> f being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :"new icon" %>
    <%= image_tag(user.profile_image.icon.url) if user.profile_image && user.profile_image.url %>
    <%= f.file_field :profile_image %>
    <%= f.hidden_field :profile_image_cache %>

    <%= f.label :"new name" %>
    <%= f.text_field :name %>

    <%= f.label :"new email" %>
    <%= f.email_field :email %>

    <%= f.label :"new password" %>
    <%= f.password_field :password %>

    <%= f.label :"new password_confirmation" %>
    <%= f.password_field :password_confirmation %>

    <% if @user.id.present? %>
      <%= f.submit :"Could you edit it?" %>
    <% else %>
      <%= f.submit "Create my account" %>
    <% end %>
  </div>
<% end %>

