<h3>"Are there any mistakes?"</h3>
<%= form_with(model: @user, url: users_path, local: true) do |f| %>
  <p>icon image:<%= image_tag(@user.profile_image.icon.url) if @user.profile_image && @user.profile_image.icon.url %></p>
  <%= f.hidden_field :profile_image_cache %>
  <p>user name:<%= @user.name %></p>
  <%= f.hidden_field :name %>
  <p>user email:<%= @user.email %></p>
  <%= f.hidden_field :email %>
  <p>user password:<%= @user.password %></p>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  <%= f.submit "Perfect!" %>
  <%= f.submit "I will rewrite it!", name: "back" %>
<% end %>