<h1>New post!!</h1>

<table>
  <tr>
    <th>Poster</th>
    <th>Image</th>
    <th>Content</th>
  </tr>
  <% @pictures.each do |picture| %>
    <tr>
      <td><%= image_tag(picture.user.profile_image.icon.url) if picture.user.profile_image && picture.user.profile_image.icon.url %></td>
      <td><%= picture.user.name %></td>
      <td><%= image_tag(picture.image.thumb.url) if picture.image && picture.image.url %></td>
      <td><%= picture.content %></td>
      <td><%= link_to 'confirm', picture_path(picture.id) %></td>
      <% if picture.user_id == current_user.id %>
        <td><%= link_to 'edit', edit_picture_path(picture.id) %></td>
        <td><%= link_to 'delete', picture_path(picture.id), method: :delete, data: {confirm: '本当に消して良かですか？(>_<)'} %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Let's post your ", new_picture_path %>
<br>
<br>
