<h3>Post details</h3>

<br>
<p>Contributor: <%= @picture.user.name %></p>
<br>
<p>image: <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
<br>
<p>comment: <%= @picture.content %></p>
<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <td><%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %></td>
  <% else %>
    <td><%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %></td>
  <% end %>
<% end %>
<br>
<br>
<%= link_to 'Back page?', @url %>
<br>